/* TherapistPortal.css */
.therapist-portal {
  display: flex;
  justify-content: center; /* Center the children horizontally */
  align-items: flex-start; /* Align the children vertically at the top */
  height: 100vh; /* Set the height of the container to the viewport height */
  padding: 20px; /* Add some padding for spacing */
}

.patient-map {
  list-style: none;
  background-color: #ccc;
  width: 1300px;
  border-radius: 15px;
  display: inline-flex;
  margin: 20px;
}

.patient-name {
  margin: 10px;
}

.therapist-portal {
  text-align: center;
}

.therapist-dashboard-full {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
