.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-column {
  flex: 1;
  padding: 20px;
}

.form-column {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 10px;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.form-options {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
}

.remember-me {
  display: flex;
  align-items: center;
}

.forgot-password {
  text-align: right;
  flex: 1;
}
