.form-div {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 100vh;
  text-align: center;
}

form.registration-form {
  margin-right: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

/* Add additional styling as needed for labels, inputs, and buttons */
.registration-form label {
  margin-bottom: 10px;
  width: 80%;
}
.registration-form input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid black;
}

.registration-form button:hover {
  background-color: #0056b3; /* Adjust the hover background color as needed */
}

.registration-button {
  margin-bottom: 20px;
}

.content {
  display: inline-flex;
  align-items: center;
}

.div-1,
.div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 300px; */
  /* width: 100%; */
  border: 1px solid black;
  border-radius: 10px;
}
